# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

roms/*

docs/uqlx.html
docs/socket.html

# ignore eventual builds, but not the directory itself
build/*
!build/.gitkeep

# Visual studio
.vscode/*
*.code-workspace
