[submodule "sdl-gpu"]
	path = sdl-gpu
	url = https://github.com/ikjordan/sdl-gpu.git
[submodule "sds"]
	path = sds
	url = https://github.com/antirez/sds
[submodule "args"]
	path = args
	url = https://github.com/dmulholl/args
[submodule "inih"]
	path = inih
	url = https://github.com/benhoyt/inih
